<nav class="flex justify-between w-10/12 h-10 items-center mt-5">
    <a href="/" class="font-bold text-3xl">GariKar</a>
    <ul class="flex gap-6">
        <li><a href="/" class="font-semibold">Home</a></li>
        <li><a href="/bookcar" class="font-semibold">Book Cars</a></li>
        <li><a href="#" class="font-semibold">About Us</a></li>
            <li><a href="#" class="font-semibold">Favourite</a></li>
            <li><a href="/login" class="font-semibold">Login</a></li>
            <li><a href="/signup" class="font-semibold">SignUp</a></li>
    </ul>
</nav>
