<nav class="flex justify-between w-10/12 h-10 items-center mt-5">
	<a href="/" class="font-bold text-3xl">GariKar</a>
	<ul class="flex gap-6 items-center">
		<li><a href="/" class="font-semibold">Home</a></li>
		<li><a href="/car/bookcar" class="font-semibold">Book Cars</a></li>
		<li>
			<a href="/fav/getfavcar" class="font-semibold">Favourite</a>
		</li>

		<%if (userData) {%>
		<li>
	
			<div class="relative font-semibold">
				<button id="profileButton" class="focus:outline-none">
					<%if(!userData.image){%>
					<img
					src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToiRnzzyrDtkmRzlAvPPbh77E-Mvsk3brlxQ&s"
					alt="Profile Image"
						class="border-3 border-yellow-500 w-9 h-9 object-cover rounded-full aspect-square"
					/>
					<%}else{%>
					<img
					src="<%= userData.image %>"
					alt="Profile Image"
					class="border-3 border-yellow-500 w-9 h-9 object-cover rounded-full aspect-square"
					/>

					<%}%>
				</button>
	
				<div
					id="profileDropdown"
					class="hidden absolute -right-20 mt-2 w-48 bg-white rounded-md shadow-lg py-0"
				>
					<a
						href="/profile"
						class="block px-4 py-2 text-gray-800 hover:bg-gray-200 rounded-md"
						>Profile</a
					>
					<a
						href="/car/listcar"
						class="block px-4 py-2 text-gray-800 hover:bg-gray-200 rounded-md"
						>List New Cars</a
					>

					<a
						href="/auth/logout"
						class="block px-4 py-2 text-gray-800 hover:bg-gray-200 rounded-md"
						>Logout</a
					>
				</div>
			</div>
			<%} else {%>
		</li>

		<li><a href="/login" class="font-semibold">Login</a></li>
		<li><a href="/signup" class="font-semibold">SignUp</a></li>
		<%}%>
	</ul>
</nav>

<script>
	document
		.getElementById('profileButton')
		.addEventListener('click', function () {
			var dropdown = document.getElementById('profileDropdown');
			dropdown.classList.toggle('hidden');
		});

	window.addEventListener('click', function (e) {
		var profileButton = document.getElementById('profileButton');
		var dropdown = document.getElementById('profileDropdown');
		if (!profileButton.contains(e.target)) {
			dropdown.classList.add('hidden');
		}
	});
</script>
