<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>GariKar</title>
		<link href="/stylesheets/output.css" rel="stylesheet" />
		<!-- <script src="https://cdn.tailwindcss.com"></script> -->
		<style>
			@font-face {
				font-family: 'spacegrotesk';
				src: url('../fonts/Binoma\ Trial-Bold.ttf');
			}

			@font-face {
				font-family: 'unique';
				src: url('../fonts/Binoma\ Trial-Regular.ttf');
			}
			h1 {
				font-family: 'unique';
			}
			span {
				font-family: 'spacegrotesk';
			}
		</style>
	</head>
	<body class="bg-zinc-900 text-white">
		<div class="flex flex-col items-center">
			<%- include('partials/header')%>

			<main class="flex flex-col items-center min-h-screen">
				<div class="herodiv mt-16 sm:mt-32 px-4 sm:px-8">
					<h1
						class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl text-center"
					>
						Jab Marzi Gaari Karao<br />
						<span class="text-orange-500">GariKar</span>
						Say!
					</h1>
					<img
						class="mt-8 max-w-full h-auto mx-auto"
						src="../images/main-image.png"
						alt="Main Image"
					/>
				</div>
			</main>

			<footer class="w-full bg-zinc-900 text-center py-4">
				<%- include('partials/footer')%>
			</footer>
		</div>
	</body>
</html>
