<!DOCTYPE html>
<html>
	<head>
		<title>GariKar</title>
		<link href="/stylesheets/output.css" rel="stylesheet" />
		<!-- <script src="https://cdn.tailwindcss.com"></script> -->
		<style>
			@font-face {
				font-family: 'spacegrotesk';
				src: url('../fonts/Binoma\ Trial-Bold.ttf');
			}

			@font-face {
				font-family: 'unique';
				src: url('../fonts/Binoma\ Trial-Regular.ttf');
			}
			h1 {
				font-family: 'unique';
			}
			span {
				font-family: 'spacegrotesk';
			}
		</style>
	</head>
	<body>
		<div class="flex items-center flex-col bg-zinc-900 text-white h-screen">
			<%- include('partials/header')%>

			<% if(loginStatus.length > 0){%>
			<div
				id="flash-message"
				class="fixed top-0 left-1/2 transform -translate-x-1/2 py-2 px-3 text-white rounded-lg shadow-lg bg-red-500"
			><%=loginStatus%></div>

			<%}%>

			<div
				class="herodiv mt-32 flex flex-col justify-center items-center w-10/12"
			>
				<h1 class="text-5xl text-center text-white">Login</h1>
				<form
					action="/auth/login"
					method="post"
					class="flex flex-col gap-y-8 mt-10 w-3/5 text-zinc-900"
				>
					<input
						class="rounded-lg pt-2 pb-2 pr-4 pl-4 outline-none border-2 border-zinc-400"
						name="email"
						type="email"
						placeholder="Enter Email"
					/>
					<input
						class="rounded-lg pt-2 pb-2 pr-4 pl-4 outline-none border-2 border-zinc-400"
						name="password"
						type="password"
						placeholder="Enter Password"
					/>
					<input
						class="rounded-lg pt-2 pb-2 pr-4 pl-4 bg-slate-700 font-bold text-white cursor-pointer hover:bg-slate-400 border-2 border-zinc-800"
						type="submit"
						value="Login"
					/>
				</form>
			</div>

			<%- include('partials/footer')%>
		</div>
	</body>
	<script>
		document.getElementById('menuButton').addEventListener('click', function() {
			const navLinks = document.getElementById('navLinks');
			const mobileMenu = document.getElementById('mobileMenu');
			navLinks.classList.toggle('hidden');
			mobileMenu.classList.toggle('hidden');
		});
	
		document.getElementById('profileButton').addEventListener('click', function() {
			const profileDropdown = document.getElementById('profileDropdown');
			profileDropdown.classList.toggle('hidden');
		});
	</script>
	
</html>
